.wrap__table{
    /* border: 2px solid red; */
    width: 570px;
    display: block;
    margin-bottom: 0;
    margin: auto; 
}
#title{
    /* border: 2px solid red; */
    display: block;
    
}
#status__free{
    color: #2A32FD;
}
#status__bisy{
    color: #DF4733;
}