:root{
    --padding-left-text: 20px;
    /* --width-plus-minus: calc(var(--width-counter)/4); */
}

.wrap {
    display: inline-block;
    width: 420px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(201, 204, 215, 0.1);
    border-radius: 4px;
}

.wrap img{
    display: inline-block;
    float: right;
    padding-right: 21px;
    padding-top: 24px;
}

.wrap__users{
    /* border: 2px solid green; */
    display: inline-block;
}


.wrap__users h1{
    /* border: 2px solid green; */
    padding-left: var(--padding-left-text);
    padding-top: 15px;
}

#active__users h2{
    padding-left: 10px;
    color: #2A32FD;
    font-size: 24px;
}
#disactive__users h2{
    padding-left: 10px;
    font-size: 24px;
    color: #DF4733;
}