.wrap {
    display: inline-block;
    width: 420px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(201, 204, 215, 0.1);
    border-radius: 4px;
}

.wrap img{
    float: right;
    padding-right: 21px;
    padding-top: 24px;
}