@import './fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #E5E5E5;
}

h1, h2, h3, h4, h5, h6, p, input{
    font-family: 'Roboto-Regular';
    color: #6C757D;
}
h1{
    font-size: 36px;
    margin-bottom: 0px;
}
h2{
    font-size: 16px;
    margin-bottom: 0px;
}
h3{
    font-size: 14px;
}
